/*------------------*
# Variables
*------------------*/
$fz12: 12px !default;
$fz14: 14px !default;
$fz16: 16px !default;
$fz20: 20px !default;
$fz24: 24px !default;

$lh16: $fz16 !default;
$lh20: $fz20 !default;
$lh24: $fz24 !default;
$lh26: 26px !default;
$lh32: 32px !default;

$fw400: 400 !default;
$fw500: 500 !default;

$white: #ffffff !default;

$primary: #005BAA !default;
$secondary: #009EDB !default;
$secondary-200: #80CFED !default;
$secondary-50: #E0F3FB !default;

$text-primary: #102240 !default;
$text-secondary: #696F8C !default;

$disable: #C1C4D6 !default;

$border-color-bold: #D3D8E1 !default;
$border-color-line: #E5E5EE !default;

$bg-color: #F7F8FA !default;

$info: #0099CC !default;
$info-200: #80CCE6 !default;
$info-50: #E0F3F9 !default;

$warning: #FAAD14 !default;
$warning-200: #FDD68A !default;
$warning-50: #FEF5E3 !default;

$success: #52C41A !default;
$success-200: #A9E28D !default;
$success-50: #EAF8E4 !default;

$danger: #FF4D4F !default;
$danger-200: #FFA6A7 !default;
$danger-50: #FFEAEA !default;

$br4: 4px !default;
$br6: 6px !default;
$br8: 8px !default;
$br99: 99px !default;
$br999: 999px !default;

$box-shadow: 0px 2px 4px rgb(0 0 0 / 4%) !default;
$box-shadow-hover: 0px 4px 8px rgb(0 0 0 / 8%) !default;