{% extends "base.html" %}

{% block content %}
{% include "header.html" %}

  <div class="container">
      <template id="card-template">
          
<div id="test" class="card placeholder-glow" aria-hidden="true">
    <img class="card-img-top" alt="..." id="logo-img">
    <img class="card-img-top" alt="..." id="cover-img">
    <div class="card-body">
        <h5 class="card-title " id="card-title">
            <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text" id="card-details">
            jkhsdjfhsdjfhjsdhfjsdhfjsdhfjsdhfjsdhfjsdfhjsdhfjskdhf
            <span class="placeholder col-7">jkhsdjfhsdjfhjsdhfjsdhfjsdhfjsdhfjsdhfjsdfhjsdhfjskdhf</span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
        </p>
        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6" id="card-link"></a>
        <div class="card__footer" id="card-footer">
            <div class="skeleton skeleton-text skeleton-footer"></div>
        </div>
    </div>
</div>

      </template>
  </div>

<script>
    //Clone the card template
    const container = document.querySelector(".container");
    const cardTemplate = document.getElementById("card-template");
    for (let i = 0; i < 5; i++) {
        container.append(cardTemplate.content.cloneNode(true));
    }

        fetch("pageds/data.json")
        .then((response) => response.json())
        .then((posts) => {
            container.innerHTML = "";
            posts.forEach((post) => {
                const div = cardTemplate.content.cloneNode(true);
                div.getElementById("card-link").href = post.link;
                div.getElementById("logo-img").src = post.logoImage;
                div.getElementById("card-title").textContent = post.title;
                div.getElementById("card-details").textContent = post.details;
                div.getElementById("cover-img").src = post.coverImage;
                div.getElementById(
                    "card-footer"
                ).innerHTML = `<ion-icon name="arrow-up"></ion-icon>
          <ion-icon name="chatbox-ellipses"></ion-icon>
          <ion-icon name="bookmark"></ion-icon>`;
                container.append(div);
            });
        });
       
</script>

{% include "footer.html" %}
{% endblock %}
{% block custom_js %}

{% endblock %}
{% block custom_modal %}

{% endblock %}