<div class="row gap-4">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
      </div>
      <div class="card-body p-0 bg-light position-relative border-top">
        <div class="d-block py-2 px-3 border-bottom">HTML</div>
{% set code_html %}<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
{% endset %}
      <pre class="m-0 bg-light snippet"><code class="language-html">{{ code_html }}</code></pre>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Primary</button>
<button type="button" class="btn btn-secondary btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Secondary</button>
<button type="button" class="btn btn-success btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Success</button>
<button type="button" class="btn btn-danger btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Danger</button>
<button type="button" class="btn btn-warning btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Warning</button>
<button type="button" class="btn btn-info btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Info</button>
<button type="button" class="btn btn-light btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Light</button>
<button type="button" class="btn btn-dark btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Dark</button>

<button type="button" class="btn btn-link btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Link</button>
      </div>
      <div class="card-body p-0 bg-light position-relative border-top">
        <div class="d-block py-2 px-3 border-bottom">HTML</div>
{% set code_html %}<button type="button" class="btn btn-primary btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Primary</button>
<button type="button" class="btn btn-secondary btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Secondary</button>
<button type="button" class="btn btn-success btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Success</button>
<button type="button" class="btn btn-danger btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Danger</button>
<button type="button" class="btn btn-warning btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Warning</button>
<button type="button" class="btn btn-info btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Info</button>
<button type="button" class="btn btn-light btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Light</button>
<button type="button" class="btn btn-dark btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Dark</button>

<button type="button" class="btn btn-link btn-icon btn-icon-right"><i class="ic ic-tools-fill ic-16"></i>Link</button>
{% endset %}
      <pre class="m-0 bg-light snippet"><code class="language-html">{{ code_html }}</code></pre>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <a class="btn btn-primary" href="#" role="button">Link</a>
<button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input">
<input class="btn btn-primary" type="submit" value="Submit">
<input class="btn btn-primary" type="reset" value="Reset">
      </div>
      <div class="card-body p-0 bg-light position-relative border-top">
        <div class="d-block py-2 px-3 border-bottom">HTML</div>
{% set code_html %}<a class="btn btn-primary" href="#" role="button">Link</a>
<button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input">
<input class="btn btn-primary" type="submit" value="Submit">
<input class="btn btn-primary" type="reset" value="Reset">
{% endset %}
      <pre class="m-0 bg-light snippet"><code class="language-html">{{ code_html }}</code></pre>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>
      </div>
      <div class="card-body p-0 bg-light position-relative border-top">
        <div class="d-block py-2 px-3 border-bottom">HTML</div>
{% set code_html %}<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>
{% endset %}
      <pre class="m-0 bg-light snippet"><code class="language-html">{{ code_html }}</code></pre>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
<button type="button" class="btn btn-outline-primary btn-icon btn-icon-left"><i class="ic ic-tools-fill ic-16"></i>Primary</button>
<button type="button" class="btn btn-outline-secondary btn-icon btn-icon-left"><i class="ic ic-tools-fill ic-16"></i>Secondary</button>
<button type="button" class="btn btn-outline-success btn-icon btn-icon-left"><i class="ic ic-tools-fill ic-16"></i>Success</button>
<button type="button" class="btn btn-outline-danger btn-icon btn-icon-left"><i class="ic ic-tools-fill ic-16"></i>Danger</button>
<button type="button" class="btn btn-outline-warning btn-icon btn-icon-left"><i class="ic ic-tools-fill ic-16"></i>Warning</button>
<button type="button" class="btn btn-outline-info btn-icon btn-icon-left"><i class="ic ic-tools-fill ic-16"></i>Info</button>
<button type="button" class="btn btn-outline-light btn-icon btn-icon-left"><i class="ic ic-tools-fill ic-16"></i>Light</button>
<button type="button" class="btn btn-outline-dark btn-icon btn-icon-left"><i class="ic ic-tools-fill ic-16"></i>Dark</button>
      </div>
      <div class="card-body p-0 bg-light position-relative border-top">
        <div class="d-block py-2 px-3 border-bottom">HTML</div>
{% set code_html %}<button type="button" class="btn btn-outline-primary"><i class="ic ic-tools-fill"></i>Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>
{% endset %}
      <pre class="m-0 bg-light snippet"><code class="language-html">{{ code_html }}</code></pre>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
<div class="d-block"><i class="ic ic-tools-fill ic-16"></i>
  <i class="ic ic-tools-fill ic-16 ic-primary"></i>
  <i class="ic ic-tools-fill ic-16 ic-secondary"></i>
  <i class="ic ic-tools-fill ic-16 ic-success"></i>
  <i class="ic ic-tools-fill ic-16 ic-danger"></i>
  <i class="ic ic-tools-fill ic-16 ic-warning"></i>
  <i class="ic ic-tools-fill ic-16 ic-info"></i>
  <i class="ic ic-tools-fill ic-16 ic-light"></i>
  <i class="ic ic-tools-fill ic-16 ic-dark"></i></div>
  <div class="d-block"><i class="ic ic-tools-fill ic-24"></i>
  <i class="ic ic-tools-fill ic-24 ic-primary"></i>
  <i class="ic ic-tools-fill ic-24 ic-secondary"></i>
  <i class="ic ic-tools-fill ic-24 ic-success"></i>
  <i class="ic ic-tools-fill ic-24 ic-danger"></i>
  <i class="ic ic-tools-fill ic-24 ic-warning"></i>
  <i class="ic ic-tools-fill ic-24 ic-info"></i>
  <i class="ic ic-tools-fill ic-24 ic-light"></i>
  <i class="ic ic-tools-fill ic-24 ic-dark"></i></div>
  <div class="d-block"><i class="ic ic-tools-fill ic-32"></i>
  <i class="ic ic-tools-fill ic-32 ic-primary"></i>
  <i class="ic ic-tools-fill ic-32 ic-secondary"></i>
  <i class="ic ic-tools-fill ic-32 ic-success"></i>
  <i class="ic ic-tools-fill ic-32 ic-danger"></i>
  <i class="ic ic-tools-fill ic-32 ic-warning"></i>
  <i class="ic ic-tools-fill ic-32 ic-info"></i>
  <i class="ic ic-tools-fill ic-32 ic-light"></i>
  <i class="ic ic-tools-fill ic-32 ic-dark"></i></div>
      </div>
      <div class="card-body p-0 bg-light position-relative border-top">
        <div class="d-block py-2 px-3 border-bottom">HTML</div>
{% set code_html %}<!--icon size 16 -->
<i class="ic ic-tools-fill ic-16"></i>
<i class="ic ic-tools-fill ic-16 ic-primary"></i>
<i class="ic ic-tools-fill ic-16 ic-secondary"></i>
<i class="ic ic-tools-fill ic-16 ic-success"></i>
<i class="ic ic-tools-fill ic-16 ic-danger"></i>
<i class="ic ic-tools-fill ic-16 ic-warning"></i>
<i class="ic ic-tools-fill ic-16 ic-info"></i>
<i class="ic ic-tools-fill ic-16 ic-light"></i>
<i class="ic ic-tools-fill ic-16 ic-dark"></i>
<!--icon size 24 -->
<i class="ic ic-tools-fill ic-24"></i>
<i class="ic ic-tools-fill ic-24 ic-primary"></i>
<i class="ic ic-tools-fill ic-24 ic-secondary"></i>
<i class="ic ic-tools-fill ic-24 ic-success"></i>
<i class="ic ic-tools-fill ic-24 ic-danger"></i>
<i class="ic ic-tools-fill ic-24 ic-warning"></i>
<i class="ic ic-tools-fill ic-24 ic-info"></i>
<i class="ic ic-tools-fill ic-24 ic-light"></i>
<i class="ic ic-tools-fill ic-24 ic-dark"></i>
<!--icon size 32 -->
<i class="ic ic-tools-fill ic-32"></i>
<i class="ic ic-tools-fill ic-32 ic-primary"></i>
<i class="ic ic-tools-fill ic-32 ic-secondary"></i>
<i class="ic ic-tools-fill ic-32 ic-success"></i>
<i class="ic ic-tools-fill ic-32 ic-danger"></i>
<i class="ic ic-tools-fill ic-32 ic-warning"></i>
<i class="ic ic-tools-fill ic-32 ic-info"></i>
<i class="ic ic-tools-fill ic-32 ic-light"></i>
<i class="ic ic-tools-fill ic-32 ic-dark"></i>
{% endset %}
      <pre class="m-0 bg-light snippet"><code class="language-html">{{ code_html }}</code></pre>
      </div>
    </div>
  </div>
  
</div>