<div class="row gap-4">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <div class="form-clear">
          <input type="email" class="form-control " id="exampleFormControlInput1" placeholder="name@example.com"
            required>
          <div class="invalid-feedback">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>



        <div class="form-floating form-clear mb-3">
          <input type="email" class="form-control" name="q" id="floatingInput" placeholder="name@example.com" required>
          <label for="floatingInput">Email address</label>
          <div class="invalid-feedback">Vivamus dignissim velit id eros finibus tempus.</div>
        </div>
      </div>
      <div class="card-body p-0 bg-light position-relative border-top">
        <div class="d-block py-2 px-3 border-bottom">HTML</div>
        {% set code_html %}<label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        {% endset %}
        <pre class="m-0 bg-light snippet"><code class="language-html">{{ code_html }}</code></pre>
      </div>
    </div>
  </div>
</div>

<select class="form-select select-2" aria-label="Default select example" header-text="Quốc gia"
  data-placeholder="Quốc gia">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
  <option value="4">Three</option>
  <option value="5">Three</option>
  <option value="6">Three</option>
  <option value="7">Three</option>
  <option value="8">Three</option>
  <option value="9">Three</option>
  <option value="10">Three</option>
  <option value="11">Three</option>
  <option value="12">Three</option>
</select>