<div class="row gap-4 mb-4">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <div class="form-clear">
          <input type="email" class="form-control " id="exampleFormControlInput1" placeholder="name@example.com"
            required>
          <div class="invalid-feedback">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>



        <div class="form-floating form-clear mb-3">
          <input type="email" class="form-control" name="q" id="floatingInput" placeholder="name@example.com" required>
          <label for="floatingInput">Email address</label>
          <div class="invalid-feedback">Vivamus dignissim velit id eros finibus tempus.</div>
        </div>
      </div>
      <div class="card-body p-0 bg-light position-relative border-top">
        <div class="d-block py-2 px-3 border-bottom">HTML</div>
        {% set code_html %}<label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        {% endset %}
        <pre class="m-0 bg-light snippet"><code class="language-html">{{ code_html }}</code></pre>
      </div>
    </div>
  </div>
</div>

<div class="row gap-4">
  <div class="col col-lg-6">
    <select class="input select-2" id="" header-text="Quốc gia" data-placeholder="Quốc gia">
      <option value=""></option>
      <option value="vn">Việt Nam</option>
      <option value="kor">Hàn Quốc</option>
      <option value="usa">Mỹ</option>
      <option value="cnn">Trung Quốc</option>
    </select>
  </div>
  <div class="col col-lg-6">
    <select class="input select-2" id="chooseGenre" multiple header-text="Thể loại" data-placeholder="Thể loại">
      <option value=""></option>
      <option value="action">Hành động</option>
      <option value="horror">Kinh dị</option>
      <option value="cotrang">Cổ trang</option>
      <option value="comedy">Hài</option>
    </select>
  </div>
  <div class="col col-lg-6">
    <select name="" class="select-2 select-2-template" header-text="Thể loại" data-minimum-results-for-search="Infinity"
      data-placeholder="Thể loại">
      <option value=""></option>
      <option dataimgclass="ubtn-circle-size-xs ubtn-square" dataimg="media/" datasub="">Hành động
      </option>
      <option dataimgclass="ubtn-circle-size-xs ubtn-square" dataimg="media/" datasub="">Kinh dị</option>
      <option dataimgclass="ubtn-circle-size-xs ubtn-square" dataimg="media/" datasub="">Tình cảm</option>
    </select>
  </div>
  <div class="col col-lg-6">
    <select name="" multiple class="select-2 select-2-template select-placeholder-icon" header-text="Thể loại"
      data-placeholder="Thể loại">
      <option value=""></option>
      <option dataimgclass="ubtn-circle-size-xs ubtn-square" dataimg="media/" datasub="">Hành động
      </option>
      <option dataimgclass="ubtn-circle-size-xs ubtn-square" dataimg="media/" datasub="">Kinh dị</option>
      <option dataimgclass="ubtn-circle-size-xs ubtn-square" dataimg="media/" datasub="">Tình cảm</option>
    </select>
  </div>
  <div class="col col-lg-6">
    <select class="input select-2 select-choosen-icon" id="chooseLocation" header-text="Địa điểm"
      data-placeholder="Bạn muốn xem phim tại">
      <option value=""></option>
      <option value="vn">Hà Nội</option>
      <option value="kor">Hải Phòng</option>
      <option value="usa">TP.Hồ Chí Minh</option>
      <option value="cnn">Đà Nẵng</option>
    </select>
  </div>
</div>