<div class="row g-4">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h1>h1. Lorem ipsum dolor</h1>
        <h2>h2. Lorem ipsum dolor</h2>
        <h3>h3. Lorem ipsum dolor</h3>
        <h4>h4. Lorem ipsum dolor</h4>
        <h5>h5. Lorem ipsum dolor</h5>
        <h6>h6. Lorem ipsum dolor</h6>
      </div>
      <div class="card-body p-0 bg-light position-relative border-top">
        <div class="d-block py-2 px-3 border-bottom">HTML</div>
{% set code_html %}<h1>h1. Lorem ipsum dolor</h1>
<h2>h2. Lorem ipsum dolor</h2>
<h3>h3. Lorem ipsum dolor</h3>
<h4>h4. Lorem ipsum dolor</h4>
<h5>h5. Lorem ipsum dolor</h5>
<h6>h6. Lorem ipsum dolor</h6>
{% endset %}
      <pre class="m-0 bg-light snippet"><code class="language-html">{{ code_html }}</code></pre>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <p class="h1">h1. Lorem ipsum dolor</p>
        <p class="h2">h2. Lorem ipsum dolor</p>
        <p class="h3">h3. Lorem ipsum dolor</p>
        <p class="h4">h4. Lorem ipsum dolor</p>
        <p class="h5">h5. Lorem ipsum dolor</p>
        <p class="h6">h6. Lorem ipsum dolor</p>
      </div>
      <div class="card-body p-0 bg-light position-relative border-top">
        <div class="d-block py-2 px-3 border-bottom">HTML</div>
{% set code_html %}<p class="h1">h1. Lorem ipsum dolor</p>
<p class="h2">h2. Lorem ipsum dolor</p>
<p class="h3">h3. Lorem ipsum dolor</p>
<p class="h4">h4. Lorem ipsum dolor</p>
<p class="h5">h5. Lorem ipsum dolor</p>
<p class="h6">h6. Lorem ipsum dolor</p>
{% endset %}
      <pre class="m-0 bg-light snippet"><code class="language-html">{{ code_html }}</code></pre>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h1 class="display-1">Display 1</h1>
<h1 class="display-2">Display 2</h1>
<h1 class="display-3">Display 3</h1>
<h1 class="display-4">Display 4</h1>
<h1 class="display-5">Display 5</h1>
<h1 class="display-6">Display 6</h1>
      </div>
      <div class="card-body p-0 bg-light position-relative border-top">
        <div class="d-block py-2 px-3 border-bottom">HTML</div>
{% set code_html %}<h1 class="display-1">Display 1</h1>
<h1 class="display-2">Display 2</h1>
<h1 class="display-3">Display 3</h1>
<h1 class="display-4">Display 4</h1>
<h1 class="display-5">Display 5</h1>
<h1 class="display-6">Display 6</h1>
{% endset %}
      <pre class="m-0 bg-light snippet"><code class="language-html">{{ code_html }}</code></pre>
      </div>
    </div>
  </div>
</div>
