/* This file is generated */

.favicon {
  mask-image: url(../media/icons/favicon.svg);
}

.ic-information-fill {
  mask-image: url(../media/icons/ic-information-fill.svg);
}

.ic-map-pin-line {
  mask-image: url(../media/icons/ic-map-pin-line.svg);
}

.ic-star-fill {
  mask-image: url(../media/icons/ic-star-fill.svg);
}

.ic-star-half-fill {
  mask-image: url(../media/icons/ic-star-half-fill.svg);
}

.ic-tools-fill {
  mask-image: url(../media/icons/ic-tools-fill.svg);
}